h1,
h2 {
  font-weight: 600;
}

ul,
.date-format,
.weather-description {
  margin: 0;
  padding: 0;
}

.city-buttons,
.city-input {
  display: block;
  margin: 0 auto;
}

.date-format,
.weather-description {
  list-style: none;
  font-size: 16px;
  height: 18px;
  line-height: 19px;
}

.weather-temperature,
.weather-forecast {
  text-align: center;
}

.temperature-unit,
.temperature-description {
  list-style: none;
}

.search-button,
.weather-temperature,
.temperature-unit,
.celsius-link,
.fahrenheit-link,
.celsius-link:hover,
.fahrenheit-link:hover {
  color: white;
}

.weather-forecast-temperature-min,
.weather-app-wrapper {
  opacity: 0.6;
}

.city-date,
.weather-temperature,
.weather-conditions {
  max-width: 33.33%;
}

body {
  background-image: url("https://i.pinimg.com/564x/ee/c4/16/eec4169c5e89189f59d86f21829e0454.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 19px;
  line-height: 21px;
}

.city-buttons {
  width: 100%;
}

.recent-cities {
  border: none;
  margin-right: 2px;
  background-color: transparent;
}

.search-form {
  margin-bottom: 30px;
  margin-top: 25px;
}

.city-input {
  width: 75%;
}

.search-button {
  width: 80%;
  margin-left: -60px;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgb(79, 79, 79);
}

.temperature {
  font-size: 50px;
  margin-right: -1px;
}

.city {
  position: relative;
  margin-top: 25px;
  white-space: nowrap;
}

.weather-temperature {
  margin-top: -10px;
  border: transparent;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.temperature-unit {
  position: relative;
  margin-top: 35px;
}

.celsius-link,
.fahrenheit-link {
  position: relative;
  top: -22px;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
}

.weather-temperature .active {
  cursor: default;
  color: rgb(24, 24, 24);
}

.temperature-description {
  font-size: 16px;
  position: relative;
  justify-content: center;
  margin-top: -6px;
  white-space: nowrap;
}

.temperature-description::first-letter {
  text-transform: capitalize;
}

.weather-conditions {
  margin-top: 28px;
  text-align: right;
}

.weather-description {
  font-size: 16px;
}

.hour-forecast {
  font-weight: 900;
  font-size: large;
  margin-top: 25px;
  margin-bottom: -10px;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 15px;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
}

.forecast-icon {
  margin: 10px;
  font-size: 20px;
  opacity: 0.8;
}

.weather-forecast-temperatures {
  font-size: 16px;
}

.github-link {
  float: left;
  margin-left: 12px;
}

.fab {
  color: black;
}

.weather-app {
  padding: 20px;
  border-radius: 4px;
  border: transparent;
}

.weather-app-wrapper {
  max-width: 550px;
  margin: 30px auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 3px grey;
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-width: 320px) and (max-width: 390px) {
  .city-date,
  .weather-temperature {
    max-width: 50%;
  }
  .city-buttons {
    font-size: x-small;
    white-space: nowrap;
  }
  #london-button {
    display: none;
  }
  .search-form {
    margin: 10px 0 10px 0;
  }
  .city-input {
    width: 75%;
    height: 23px;
    margin-top: 2px;
  }
  .search-button {
    width: 100%;
    font-size: x-small;
    margin-left: -40px;
    padding: 0px 9px 0px 1px;
  }
  .city {
    position: relative;
    margin-top: 5px;
  }
  .city-date {
    margin-top: -10px;
  }
  .weather-conditions {
    position: relative;
    text-align: left;
    font-size: 0.01px;
  }
  .weather-temperature {
    position: relative;
    margin-top: 30px;
    height: 150px;
  }
  .temperature-description {
    white-space: normal;
    margin-top: -12px;
  }
  body {
    background-size: cover;
  }
  .weather-app-wrapper {
    padding: 0;
    margin-top: 8px;
  }
}

@media screen and (min-width: 390px) and (max-width: 480px) {
  .city-date,
  .weather-temperature {
    max-width: 50%;
  }
  .city-buttons {
    white-space: nowrap;
    font-size: small;
  }
  #london-button {
    display: none;
  }
  .search-button {
    margin: -45px;
    margin-top: 0px;
  }
  .weather-conditions {
    max-width: 100%;
    text-align: left;
    margin-top: -10px;
  }
  .city-date {
    text-align: left;
  }
  .weather-temperature {
    position: relative;
    margin-top: 30px;
    height: 190px;
    width: 190px;
  }
  .city {
    position: relative;
    margin-top: 5px;
    white-space: no-wrap;
  }
  .weather-conditions {
    margin-top: -90px;
  }
  .temperature-description {
    margin-top: -10px;
  }
  body {
    background-size: auto;
  }
  .weather-app-wrapper {
    padding: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 575px) {
  .city-buttons {
    white-space: nowrap;
    font-size: medium;
  }
  .city-input {
    width: 70%;
  }
  .search-button {
    width: 90%;
  }
  .city {
    position: relative;
    margin-top: 25px;
    white-space: normal;
  }
  .weather-conditions {
    white-space: nowrap;
    margin-top: 35px;
  }
  .weather-temperature {
    margin-top: 10px;
  }
  .weather-temperature {
    position: relative;
    margin-top: 5px;
    height: 150px;
  }
  body {
    background-size: auto;
  }
}

@media screen and (min-width: 570px) and (max-width: 768px) {
  .city-buttons {
    font-size: 90%;
  }
  .city {
    position: relative;
    margin-top: 30px;
    white-space: no-wrap;
  }
  .weather-conditions {
    margin-top: 35px;
  }
  body {
    background-size: cover;
  }
}
