h1,
h2 {
  font-weight: 600;
}

ul,
.date-format,
.weather-description {
  margin: 0;
  padding: 0;
}

.city-buttons,
.city-input {
  display: block;
  margin: 0 auto;
}

.date-format,
.weather-description {
  list-style: none;
  font-size: 16px;
  height: 18px;
  line-height: 19px;
}

.weather-temperature,
.weather-forecast {
  text-align: center;
}

.temperature-unit,
.temperature-description {
  list-style: none;
}

.search-button,
.weather-temperature,
.temperature-unit,
.celsius-link,
.fahrenheit-link,
.celsius-link:hover,
.fahrenheit-link:hover {
  color: white;
}

.weather-forecast-temperature-min,
.weather-app-wrapper {
  opacity: 0.6;
}

.city-date,
.weather-temperature,
.weather-conditions {
  max-width: 33.33%;
}

body {
  background-image: url("https://i.pinimg.com/564x/ee/c4/16/eec4169c5e89189f59d86f21829e0454.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 24px;
  line-height: 28px;
}

h2 {
  font-size: 19px;
  line-height: 21px;
}

.city-buttons {
  width: 100%;
}

.recent-cities {
  border: none;
  margin-right: 7px;
  background-color: transparent;
}

.search-form {
  margin-bottom: 30px;
  margin-top: 25px;
}

.city-input {
  width: 75%;
}

.search-button {
  width: 80%;
  margin-left: -60px;
  border-color: transparent;
  border-radius: 4px;
  background-color: rgb(79, 79, 79);
}

.temperature {
  font-size: 50px;
  margin-right: -1px;
}

.city {
  position: relative;
  margin-top: 25px;
  white-space: nowrap;
}

.weather-temperature {
  margin-top: -10px;
  border: transparent;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.temperature-unit {
  position: relative;
  margin-top: 35px;
}

.celsius-link,
.fahrenheit-link {
  position: relative;
  top: -22px;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
}

.weather-temperature .active {
  cursor: default;
  color: rgb(24, 24, 24);
}

.temperature-description {
  font-size: 16px;
  position: relative;
  justify-content: center;
  margin-top: -6px;
  white-space: nowrap;
}

.temperature-description::first-letter {
  text-transform: capitalize;
}

.weather-conditions {
  margin-top: 28px;
  text-align: right;
}

.weather-description {
  font-size: 16px;
}

.hour-forecast {
  font-weight: 900;
  margin-bottom: -25px;
}

.weather-forecast {
  margin-top: 30px;
  margin-bottom: 15px;
  color: black;
}

.weather-forecast-date {
  font-size: 16px;
}

.forecast-icon {
  margin: 10px;
  font-size: 20px;
  opacity: 0.8;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.github-link {
  float: left;
  margin-left: 12px;
}

.fab {
  color: black;
}

.weather-app {
  padding: 20px;
  border-radius: 4px;
  border: transparent;
}

.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
  background-color: white;
  border-radius: 25px;
  box-shadow: 3px 5px 5px 3px grey;
}
